h2,
h3,
h4 {
    font-family: 'Fjalla One';
    color: #2F2F2F;
    letter-spacing: 2px;
}

h2 {
    font-size: 82px;
}

h3 {
    font-size: 60px;
    line-height: 48px;
}

h4 {
    font-size: 28px;
    line-height: 38px;
}

p {
    font-size: 18px;
    letter-spacing: 0.8px;
}

a {
    color: $color-primary;
    text-decoration: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}