@media(min-width: 1601px) {
  // #intro {
  //   .intro-right {
  //     .vertical-info {
  //       left: 3rem !important;
  //     }
  //   }
  // }
}

@media(min-width: 1904px) {
  .container {
    max-width: 1400px;
  }

  .fade-heading {
    left: -4rem !important;
  }

  #intro {
    .intro-right {
      .vertical-info {
        left: -32% !important;
        margin-top: 4px;
      }
    }
  }

  #header {
    .v-toolbar {
      .v-toolbar__content {
        padding: 8px 60px !important;
      }

    }

  }

  #biography {
    .kobe-img {
      &::after {
        left: 35% !important;
        width: 500px !important;
      }
    }
  }

  #achievements {
    .awards-img {
      text-align: center;

      &::after {
        width: 500px !important;
        left: 15% !important;
      }
    }
  }
}

@media(max-width: 580px) {
  h2 {
    font-size: 42px !important;
  }

  h3 {
    font-size: 32px !important;
  }

  p {
    font-size: 16px;
  }

  #header {
    .v-toolbar {
      margin: 0 1rem !important;
    }

  }

  #intro {
    background-size: contain !important;
    padding-top: 20px !important;
    height: 100vh !important;

    .signature {
      img {
        width: 170px !important;
      }
    }
  }

  #biography {
    .horizontal-info:after {
      left: 14.7rem !important;
    }
  }

  #career {
    .horizontal-info:after {
      left: 6.1rem !important;
    }
  }

  #achievements {
    .horizontal-info:after {
      left: 12.7rem !important;
    }

    .awards {
      ul {
        li {
          font-size: 16px !important;
          padding-left: 1rem !important;
        }
      }
    }
  }

  #gallery {
    .horizontal-info:after {
      left: 7.1rem !important;
    }
  }
}

@media(max-width: 959px) {
  #header {
    .v-toolbar {
      .v-toolbar__content {
        padding: 8px 0 !important;
      }
    }
  }
}

@media(min-width: 1025px) {
  #intro {
    height: 90vh;
  }
}


@media(max-width: 1330px) {
  .fade-heading {
    left: 0 !important;
  }

  .vertical-info {
    left: -35% !important;
  }

}

@media(max-width: 1263px) {
  .vertical-info {
    left: -50% !important;
    top: 55%;
  }

  #career {
    .career-table {
      margin-top: 0 !important;
    }
  }
}