#header {
  position: fixed;
  width: 100%;
  z-index: 9;
  background-color: transparent;

  // box-shadow: 0px 0px 8px #8080801a !important;
  .v-toolbar {
    box-shadow: none;
    margin: 0 3rem;
    background-color: transparent;

    .v-toolbar__content {
      padding: 8px 40px;

      .v-toolbar__title {
        color: $color-white;
      }

      .nav-list {
        display: flex;
        list-style-type: none;
        align-items: center;
        height: 100%;
        margin-bottom: 0;

        .nav-item {
          a {
            padding: 20px 15px;
            color: $color-white;
            border-bottom: 2px solid transparent;
            transition-duration: 0.3s;
            text-decoration: none;
          }

          .router-link-exact-active {
            color: $color-primary;
            border-bottom: 2px solid $color-primary;

            &:hover {
              color: $color-primary;
              border-bottom: 2px solid $color-primary;
            }
          }
        }
      }
    }
  }

}